<style type="text/css">
  .content_div{
    width: 80%;
    margin-left: 10%;
    margin-top: 0px;
    min-width: 1067px;
    /*border-bottom: 1px solid;*/
  }
  .list_div{
    width: 100%;
    height: 100px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    /*background: url(/images/tubiao2.png);*/
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-color: #f5fafe;
  }
  .content_div a{
    text-align: center;
    display: inline-block;
    height: 100%;
    margin-top: 3px;
  }
  .content_div p{
    color: black;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
  }
  h2{
    background-color: #efefef;
    color:#4a4a4a;
  }
  .pr_a{
    margin-right: 15px;
    width: 18%;
  }
</style>
<div style="margin-top: 44px;width: 100%;">
  <% @projects.each do | project| %>
    <div class="content_div">
        <h2> <%= link_to project.name, point_check_list_polls_path(project_id:project.id) %> </h2>
        <% if project.children.present? %>
          <% project.children.sorted.all_public.each do |pr| %>
            <%= link_to point_check_list_polls_path(project_id:pr.id), class:" pr_a" do%>
              <div class="list_div">       
              </div>
              <p><%= pr.name%></p>
            <% end %>
          <% end %>
        <% end %>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function (argument) {
    $("#main").css("margin-left","0px")
    $("#wrapper").css("background-image","none")
  })
</script>