<% if flash.present? && flash.keys.all?(&:present?) %>

    <% flash.each do |status, msg| %>
      <% next unless [:error, :alert, :success, :notice, :info].include?(status.to_sym) %>
      <style type="text/css">
      	.closed{
      		color: #0c669a;
      		margin-right: 5px;
      		border-radius:10px;
      	}
      	.flash_p{
      		padding-left: 20px;
      		background-color: #efefef;
      		margin-bottom: 0px;
          color: #0c669a;
      	}
      </style>
         <p class="flash_p"><%= raw msg%></p>
         <script type="text/javascript">
         	$('.Hui-article').css('top','70px')
         	$(".closed").on("click",function (argument) {
         		$(this).parent().hide()
         		$('.Hui-article').css('top','34px')
         	})
         </script>
    <% end %>
  <% flash.clear %>
<% end -%>
